<a href="https://colab.research.google.com/github/shakil1819/CSE404-AI-Sessional/blob/main/prob2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

from sklearn import preprocessing
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn import metrics

In [3]:
df=pd.read_csv("/content/drive/MyDrive/CSE404- AI-Sessional/Evaluation-Sec-A/IMDB Dataset.csv")

In [4]:
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
25984  MONKEY is surely one of the best shows to have...  positive
25985  Easily one of my three or four favorite films....  positive
25986  Good action and interesting plot. Having seen ...  positive
25987  One of the better made for TV biopics, I just ...  positive
25988  Give me my money back! Give me my life back! G...  negative

[25989 rows x 2 columns]

In [5]:
df.isnull().sum()

review       0
sentiment    0
dtype: int64

In [6]:
le=preprocessing.LabelEncoder()
y=le.fit_transform(df['sentiment'])
y

array([1, 1, 1, ..., 1, 1, 0])

In [7]:
X=df['review']
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [8]:
cv=CountVectorizer()
X_train_encoder=cv.fit_transform(X_train.values)
X_test_encoder=cv.transform(X_test.values)

In [9]:
nb=MultinomialNB()
nb.fit(X_train_encoder,y_train)
y_pred1=nb.predict(X_test_encoder)
print(metrics.precision_score(y_pred1,y_test))
print(metrics.recall_score(y_pred1,y_test))
print(metrics.f1_score(y_pred1,y_test))
print(metrics.accuracy_score(y_pred1,y_test))

0.8207913110938713
0.8657937806873978
0.8426921545201116
0.8480184686417853

In [10]:
vec= TfidfVectorizer()
X_train_vec=vec.fit_transform(X_train.values)
X_test_vec=vec.transform(X_test.values)
vec.get_feature_names_out()

array(['00', '000', '00000001', ..., 'Ã¼vegtigris', 'Ã¼zÃ¼mcÃ¼', 'Å¼mijewski'],
      dtype=object)

In [11]:
nb=MultinomialNB()
nb.fit(X_train_vec,y_train)
y_pred2=nb.predict(X_test_vec)
print(metrics.precision_score(y_pred2,y_test))
print(metrics.recall_score(y_pred2,y_test))
print(metrics.f1_score(y_pred2,y_test))
print(metrics.accuracy_score(y_pred2,y_test))

0.8378588052754073
0.8856088560885609
0.8610723539964121
0.8659099653712966